<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Add Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card col-12 py-5">
                <div class="container">
                    <h2 class="mb-4 text-left">Add a review about Sub-Ex Car Dealership</h2>
                    {% if dealer_id %}
                    <form method="post" action="{% url 'djangoapp:add_review' dealer_id %}">
                        {% else %}
                        <form method="post" action="{% url 'djangoapp:add_review' %}">
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="content">Enter the review content</label>
                                <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="purchasecheck"
                                        id="purchasecheck">
                                    <label class="form-check-label" for="purchasecheck">Has purchased the car from
                                        Sub-Ex Car Dealership? <span style="font-size: 12px;">(Select purchased car
                                            information below if checked)</span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="car">Select your car (Model-make-year)</label>
                                <select name="car" id="car" class="form-select" required>
                                    {% for car in cars %}
                                    <option selected value={{car.id}}>
                                        {{car.name}}-{{car.car_make}}-{{car.year|date:"Y"}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="purchasedate">Select Your Purchase Date</label>
                                <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>

</html>