<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="contact-info">
                <h3>Contact Information</h3>
                <ul class="list-group">
                    <li class="list-group-item">Email: contact@jonathanEdx.com</li>
                    <li class="list-group-item">Phone: +57 5757575757</li>
                    <li class="list-group-item">Address: 742 Evergreen Terrace, Springfield</li>
                </ul>
            </div>
        </div>
    </div>
</div>